.formbox {
    width: 900px;
    height: 700px;
    background: #eeeeee;
}

form {
    margin: 20px;
    height: 500px;
    padding: 10px;
}

#name {
    width: 900px;
}

#email {
    width: 900px;
}

#message {
    width: 900px;
    height: 200px;
}